
& .fetchCards {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    & .card {
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 250px;
        gap: 5px;
        padding: 2px;
        border-radius: 10px;
        & img {
            border-radius: 8px;
            width: 400px;
            overflow: hidden;
            object-fit: cover;
            height: 250px;
        }
        & .decription {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            & .style-box {
                border-radius: 8px;
                padding: 5px 10px;
                background-color: rgba(111, 111, 111, 0.195);
            }
            & .info {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding: 0px !important;
                justify-content: space-between;
                height: fit-content;
                margin-bottom: 5px;
                & span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                }
                & .title {
                    margin: 5px 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    & .text {
                        font-weight: 600;
                        font-size: x-large;
                    }
                    & .online {
                        display: flex;
                        flex-direction: row;
                        gap: 2px;
                        & img {
                            height: 25px;
                            width: auto;
                            border: 2px solid rgba(236, 119, 23, 0);
                            padding: 1px;
                            border-radius: 10px;
                            transition: ease 0.2s;
                            &:hover {
                                /*special*/
                                border: 2px solid rgba(236, 119, 23, 1);
                                background-color: rgba(247, 174, 79, 0.150);
                                transition: ease 0.2s;
                                cursor: pointer;
                            }
                        }
                    }
                    & .access {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        transform: translateX(5px);
                        & img {
                            height: 25px;
                            width: auto;
                            border: 2px solid rgba(236, 119, 23, 0.1);
                            background-color: rgba(247, 174, 79, 0.035);
                            padding: 3px;
                            border-radius: 10px;
                            transition: ease 0.2s;
                            &:hover {
                                /*special*/
                                border: 2px solid rgba(236, 119, 23, 1);
                                background-color: rgba(247, 174, 79, 0.150);
                                transition: ease 0.2s;
                                cursor: pointer;
                            }
                        }
                    }
                }
                & .more {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    & .note {
                        background-color: rgba(0, 0, 0, 0.065);
                        border-radius: 0 10px 0 0;
                        padding: 0 4px;
                        & img {
                            height: 30px;
                            width: 30px;
                            transform: translateY(2px);
                        }
                    }
                    & .typed {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;
                        & .boxed {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-radius: 10px;
                            padding: 4px 10px;
                            background-color: rgba(0, 0, 0, 0.065);
                            font-size: medium;
                            font-weight: 500;
                        }
                        & img {
                            height: 20px;
                            width: auto;
                        }
                    }
                }
            }
            & .localisation {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 3px;
                height: calc(62.5%);
                gap: 3px;
                & .box {
                    height: 100%;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 6px;
                    padding: 2px;
                    & .name {

                    }
                    & .adresse {

                    }
                }
            }
        }
    }
}