html {
    user-select: none;
    cursor: default;
}

body {
    font-family: Rubik;
    background-color: rgb(248, 232, 197);
    position: relative;
    display: flex;
    justify-content: center;
    & .auth {
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease 0.4s;
        & .contain {
            color: aliceblue;
            height: 65%;
            width: 35%;
            background-color: rgb(87, 87, 87);
            box-shadow: 0 0 40px rgb(255, 128, 0);
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transition: ease 0.6s;
            & img {
                height: 200px;
                width: auto;
                border: 4px solid rgb(255, 255, 255);
                border-radius: 50px;
                padding: 30px;
                transition: ease 0.6s;
            }
            & fieldset {
                border: 2px solid rgba(178, 178, 178, 0.6);
                display: flex;
                align-items: center;
                border-radius: 10px;
                padding-top: 0;
                padding-bottom: 2px;
                padding-left: 8px;
                padding-right: 2px;
                font-weight: 500;
                transition: ease 0.6s;
                & input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    font-size: large;
                    font-weight: 700;
                    margin-right: 5px;
                    user-select:text;
                    color: aliceblue;
                }
            }
            & .button {
                font-size: larger;
                font-weight: 500;
                border: 2px solid rgba(236, 119, 23, 0.1);
                background-color: rgba(255, 226, 188, 0.035);
                padding: 3px 6px;
                border-radius: 8px;
                transition: ease 0.2s;
                &:hover {
                    /*special*/
                    border: 2px solid rgba(236, 119, 23, 1);
                    background-color: rgba(255, 226, 188, 0.15);
                    transition: ease 0.2s;
                    cursor: pointer;
                }
            }
            .lds-ellipsis, .lds-ellipsis div {
                box-sizing: border-box;
            }
            .lds-ellipsis {
                opacity: 0;
                display: inline-block;
                position: relative;
                width: 80px;
                height: 0px;
                transition: ease 0.6s;
            }
            .lds-ellipsis div {
                position: absolute;
                top: 33.33333px;
                width: 13.33333px;
                height: 13.33333px;
                border-radius: 50%;
                background: currentColor;
                animation-timing-function: cubic-bezier(0, 1, 1, 0);
            }
            .lds-ellipsis div:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 0.6s infinite;
            }
        }
    }
    & .blur {
        filter: blur(100px);
    }
    & .container {
        top: 0px;
        left: 0px;
        transition: ease 0.6s;
        height: 95vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -99;
        & .options {
            display: flex;
            width: 70%;
            flex-direction: row;
            height: 50%;
            justify-content: space-evenly;
            & .option {
                height: 100%;
                width: 30%;
                background-color: rgba(99, 99, 99, 0.171);
                border-radius: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                transition: ease 0.2s;
                & img {
                    height: 60%;
                }
                & .text {
                    color: rgba(236, 119, 23, 1);
                    font-size: x-large;
                    font-weight: 600;
                }
                &:hover, &:active {
                    transform: scale(1.06);
                    cursor: pointer;
                    transition: ease 0.2s;
                }
            }
        }
    }
}

@media screen and (width < 1100px) {
    body {
        & .auth {
            & .contain {
                height: 60%;
                width: 90%;
                & img {
                    height: 150px;
                }
                & fieldset {
                    width: 80%;
                    & input {
                        width: 80%;
                    }
                }
            }
        }
        & .container {
            height: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            & .options {
                width: 100%;
                align-items: center;
                flex-direction: column;
                gap: 50px;
                & .option {
                    padding: 20px;
                    width: 50%;
                    & img {
                        height: 150px;
                    }
                }
            }
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }