html {
    user-select: none;
    cursor: default;
}

body {
    font-family: Rubik;
    background-color: rgb(248, 232, 197);
    position: relative;
    display: flex;
    justify-content: center;
    & .forceClose {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: ease 0.6s;
        & .content {
            color: aliceblue;
            height: 0%;
            width: 0%;
            background-color: rgb(87, 87, 87);
            box-shadow: 0 0 40px rgba(255, 70, 70, 0.6);
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transition: ease 0.6s;
            & .red {
                color: rgb(255, 80, 80);
            }
            & .text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                font-size: x-large;
                opacity: 0;
                transition: ease 0.6s; 
            }
            & .button {
                font-size: x-large;
                font-weight: 500;
                border: 2px solid rgba(255, 70, 70, 0.2);
                background-color: rgba(214, 68, 68, 0.035);
                padding: 8px 14px;
                border-radius: 8px;
                transition: ease 0.6s;
                opacity: 0;
                &:hover {
                    /*special*/
                    border: 2px solid rgba(255, 70, 70, 1);
                    background-color: rgba(214, 68, 68, 0.2);
                    transition: ease 0.2s;
                    cursor: pointer;
                }
            }
            & img {
                opacity: 0;
                height: 200px;
                width: auto;
                border: 4px solid rgba(255, 70, 70, 0.6);
                border-radius: 50px;
                padding: 30px;
                transition: ease 0.6s;
            }
        }
    }
    & .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        z-index: 99;
        & .titleCat {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            margin-top: 10px;
            margin-bottom: 35px;
            & .name {
                font-size: x-large;
                font-weight: 600;
                margin-bottom: 5px;
                margin-top: 0%;
                text-align: center;
                text-wrap: nowrap;
            }
            & .bef, .aft {
                border-radius: 90px;
                height: 3px;
                width: 100%;
            }
            & .bef {
                background-image: linear-gradient(240deg, rgba(236, 119, 23, 0.6), #00000000);
            }
            & .aft {
                background-image: linear-gradient(90deg, rgba(236, 119, 23, 0.6), #00000000);
            }
        }
        & fieldset {
            border: 2px solid rgba(63, 63, 63, 0.3);
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: 70%;
            padding: 0;
            font-weight: 500;
            transition: ease 0.2s;
            height: fit-content;
            margin-bottom: 20px;
            & legend {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                margin-left: 10px;
                font-size: larger;
                font-weight: 600;
                & .opt {
                    font-size: small;
                    font-style: italic;
                    color: rgba(63, 63, 63, 0.8);
                }
            }
            &:hover {
                border: 2px solid rgba(255, 115, 0, 0.425);
            }
        }
        & input {
            background-color: transparent;
            outline: none;
            border: none;
        }
        & input[type=text] { /*haut gauche bas droite*/
            margin: 2px 10px 7px;
            font-size: medium;
            font-weight: 700;
            margin-right: 5px;
            user-select: text;
            color: rgb(192, 100, 24);
            cursor: pointer;
            width: 100%;
        }
        & input[type=url] { /*haut gauche bas droite*/
            margin: 2px 10px 7px;
            font-size: medium;
            font-weight: 700;
            margin-right: 5px;
            user-select: text;
            color: rgb(192, 100, 24);
            cursor: pointer;
            width: 100%;
        }
        & textarea { /*haut gauche bas droite*/
            background-color: transparent;
            outline: none;
            border: none;
            resize: vertical;
            margin: 2px 10px 7px;
            font-size: larger;
            font-weight: 700;
            margin-right: 5px;
            user-select: text;
            color: rgb(192, 100, 24);
            cursor: pointer;
            width: 100%;
        }
        & input[type=file] { /*haut gauche bas droite*/
            background-color: transparent;
            margin: 2px 10px 7px;
            font-size: medium;
            font-weight: 500;
            margin-right: 5px;
            user-select: text;
            width: 100%;
            &::file-selector-button {
                font-size: large;
                font-weight: 600;
                border: 2px solid rgba(236, 119, 23, 0.1);
                background-color: rgba(255, 226, 188, 0.035);
                padding: 3px 6px;
                border-radius: 8px;
                cursor: pointer;
                transition: ease 0.2s;
            }
            &::file-selector-button:hover {
                /*special*/
                border: 2px solid rgba(236, 119, 23, 0.6);
                background-color: rgba(255, 226, 188, 0.4);
                transition: ease 0.2s;
                cursor: pointer;
            }
        }
        & #price_contain {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            & select { /*haut gauche bas droite*/
                background-color: transparent;
                outline: none;
                transition: ease 0.2s;
                border-radius: 10px;
                margin: 2px 0px 7px;
                font-size: larger;
                font-weight: 700;
                margin-right: 5px;
                user-select: text;
                color: rgb(192, 100, 24);
                cursor: pointer;
                width: 100%;
                padding: 3px;
                border: 1.5px solid rgba(63, 63, 63, 0.6);
                &:hover {
                    border: 1.5px solid rgb(236, 113, 13); 
                }
            }
            & #device {
                width: 50px;
                margin-right: 10px;
            }
            & #min {
                margin-left: 10px;
            }
        }
        & #qualite_contain {
            display: flex;
            flex-direction: column;
            padding: 10px 10px 10px 10px;
            gap: 10px;
            width: calc(70% - 20px);
            & input[type=range] { /*haut gauche bas droite*/
                margin: 2px 10px 7px;
                width: 100%;
                appearance: none;
                background: rgba(63, 63, 63, 0.6);
                border-radius: 90px;
                height: 12px;
            }
            & input[type=range]::-webkit-slider-thumb {
                appearance: none;
                cursor: pointer;
                background: rgb(255, 165, 104);
                border-radius: 90px;
                height: 30px;
                width: 30px;
                transition: ease 0.2s;
            }
            & input[type=range]::-webkit-slider-thumb:active {
                transform: scale(1.4);
            }
            & .top-values-range {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 98%;
                font-size: large;
            }
        }
        & #medaille_contain, #darkkitchen_contain { /*haut gauche bas droite*/
            padding: 2px 6px 7px;
            width: calc(70% - 8*2px);
            gap: 5px;
            cursor: pointer;
            & label {
                font-size: larger;
                width: 100%;
                cursor: pointer;
            }
            & input[type=checkbox] {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
        & .shown {
            display: flex !important;
        }
        & .showned {
            pointer-events: none;
            background-color: #71717154;
        }
        & #locContain {
            display: none;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            align-items: center;
            & .addcard {
                display: flex;
                flex-direction: row;
                font-size: large;
                align-items: center;
                gap: 10px;
                width: fit-content;
                margin-right: 8px;
                margin-bottom: 8px;
                padding: 8px 50px;
                font-weight: 500;
                border: 2px solid rgba(255, 147, 70, 0.2);
                background-color: rgba(255, 147, 70, 0.035);
                border-radius: 8px;
                transition: ease 0.6s;
                &:hover {
                    /*special*/
                    border: 2px solid rgba(255, 147, 70, 1);
                    background-color: rgba(255, 147, 70, 0.2);
                    transition: ease 0.2s;
                    cursor: pointer;
                }
                & img {
                    height: 20px;
                    width: auto;
                }
            }
            & .spetxt {
                display: flex;
                flex-direction: column;
                align-items: normal;
                width: 100%;
                & div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                & .speinputtext {
                    border: 1.5px #5252526b solid;
                    border-radius: 6px;
                    padding: 3px 6px;
                }
                & .actions {
                    display: flex;
                    flex-direction: row;
                    font-size: large;
                    gap: 5px;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: 6px;
                    margin-bottom: 3px;
                    padding: 3px 5px;
                    font-weight: 500;
                    border: 2px solid rgba(255, 70, 70, 0.2);
                    background-color: rgba(214, 68, 68, 0.035);
                    border-radius: 8px;
                    transition: ease 0.6s;
                    transform: translateY(-3px);
                    &:hover {
                        /*special*/
                        border: 2px solid rgba(255, 70, 70, 1);
                        background-color: rgba(214, 68, 68, 0.2);
                        transition: ease 0.2s;
                        cursor: pointer;
                    }
                    & img {
                        height: 25px;
                        width: auto;
                    }
                }
                & .localisationHoraires1 {
                    font-size: large;
                    padding-left: 10px;
                    margin-top: 5px;
                }
                & .hor {
                    margin-top: 10px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: normal;
                    width: 100%;
                    & div {
                        display: flex;
                        align-items: center;
                        margin-left: 30px;
                        cursor: pointer;
                        & input[type=checkbox] {
                            height: 20px;
                            width: 20px;
                            transform: translateY(-3px);
                            cursor: pointer;
                        }
                        & .Horairesinputtext {
                            border: 1.5px #5252526b solid;
                            border-radius: 6px;
                            padding: 3px 6px;
                            width: 50%;
                        }
                        & label {
                            cursor: pointer;
                        }
                    }
                }
            }
            & label {
                font-size: large;
                text-wrap: nowrap;
                transform: translateY(-3px);
                margin-left: 10px;
            }
        }
    }
    & .addCardAll {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .addcard {
            display: flex;
            flex-direction: row;
            font-size: large;
            align-items: center;
            gap: 10px;
            width: fit-content;
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 8px 50px;
            font-weight: 500;
            border: 2px solid rgba(255, 147, 70, 0.2);
            background-color: rgba(255, 147, 70, 0.035);
            border-radius: 8px;
            transition: ease 0.6s;
            &:hover {
                /*special*/
                border: 2px solid rgba(255, 147, 70, 1);
                background-color: rgba(255, 147, 70, 0.2);
                transition: ease 0.2s;
                cursor: pointer;
            }
            & img {
                height: 20px;
                width: auto;
            }
        }
    }
    & #date_contain {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        user-select: none;
        & input {
            display: flex;
            flex-direction: row;
            font-size: large;
            align-items: center;
            width: fit-content;
            padding: 4px 50px;
            font-weight: 600;
            margin-left: 3px;
            width: 100%;
            background-color: rgba(255, 147, 70, 0.035);
            border-radius: 8px;
            transition: ease 0.6s;
            font-weight: 600;
            cursor: pointer;
            width: 100%;
            border: 1.5px solid rgba(63, 63, 63, 0.6);
            &:active {
                border: 1.5px solid rgb(236, 113, 13); 
            }
        }
        & .setdate-today {
            background-color: #6464642f;
            padding: 4px 22px;
            border-radius: 8px;
            font-size: large;
            font-weight: 600;
            margin-right: 3px;
        }
    }
}